<div class="contain1" style="background-color:#FDF0DF">
    <div class="header-margin"> 
        <div class="row">
            <div class="col-sm-6">
                <div class="header-head">
                    Combating COVID-19:
                    <br>
                    Curbing The Spread                
                    </div>
                    <div class="header-para">
                    While we are starting at a potential second wave of COVID-19
                    <span style="font-weight:600; color:#3b3b3b">
                    testing, tracing</span>
                    <span style="font-weight:600; color:#3b3b3b">
                    treating</span>
                    is the ideal way of curbing this spread. Testing on time helps
                    provide on-time treatment which, in turn, prevents the spread to 
                    your loved ones and others around you.
                    <hr class="header-hr">
                    <div class="header-para" style="font-weight: 600">
                        You can now call toll-free to book the COVID-19 test
                    </div> 
                    <div class="header-head">
                        <a href="tel:1800-212-2353" style="color:#3b3b3b; cursor:pointer">
                        1800- 212- 2353
                        </a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="/assets/combating.png"/> 
            </div>
        </div>
    </div>
</div>
<div class="bg-white">
    <div class="header-margin">
        <div class="header-two m-left">
            What test should you book for COVID-19?
        </div>
        <div class=" card w-18 m-p-t-10 p-t-20 p-b-20 m-p-b-10">
            <div>
            RT-PCR Test
            </div>
            <hr>
            <div>
            The RT-PCR Test is a gold standard test to detect active coronavirus infection
            </div>
            <hr>
            <div>
                It is highly recommended to take this test if you:
                <ul>
                    <li> Have flu-like symptoms and think it could be COVID-19</li>
                    <li> Have been experiencing flu-like symptoms for a few days along with breathlessness</li>
                    <li> Have come in close contact with a COVID-19 case </li>
                    <li> Have an elderly or person with chronic conditions at home who is experiencing COVID-19 like symptoms</li>
                </ul>
            </div>
            <button> Get a Checkup Done Now >  </button>
        </div>
        <div class="m-p-t-10 p-t-20 p-b-20 m-p-b-10  card">
            <div>
            RT-PCR Test
            </div>
            <hr>
            <div>
            The RT-PCR Test is a gold standard test to detect active coronavirus infection
            </div>
            <hr>
            <div>
                It is highly recommended to take this test if you:
                <ul>
                    <li> Have flu-like symptoms and think it could be COVID-19</li>
                    <li> Have been experiencing flu-like symptoms for a few days along with breathlessness</li>
                    <li> Have come in close contact with a COVID-19 case </li>
                    <li> Have an elderly or person with chronic conditions at home who is experiencing COVID-19 like symptoms</li>
                </ul>
            </div>
            <button> Get a Checkup Done Now >  </button>
        </div>
        <div class="card w-18 m-p-t-10 p-t-20 p-b-20 m-p-b-10">
            <div>
            RT-PCR Test
            </div>
            <hr>
            <div>
            The RT-PCR Test is a gold standard test to detect active coronavirus infection
            </div>
            <hr>
            <div>
                It is highly recommended to take this test if you:
                <ul>
                    <li> Have flu-like symptoms and think it could be COVID-19</li>
                    <li> Have been experiencing flu-like symptoms for a few days along with breathlessness</li>
                    <li> Have come in close contact with a COVID-19 case </li>
                    <li> Have an elderly or person with chronic conditions at home who is experiencing COVID-19 like symptoms</li>
                </ul>
            </div>
            <button> Get a Checkup Done Now >  </button>
        </div>
    </div>
</div>
<div class="contain p2x" style="background-color:#fff0e3">
    <div class="grid 1 p-t-10 m-p-t-10">
        <div class="offer-band m-txt l-p-20 r-p-20 m-l-p-15 m-r-p-15">
            <p class="head"> Here's what you need to keep COVID-19 at bay: </p>
        </div>
        <div class="m-p-t-10 p-t-20 p-b-20">
            <ul class="grid-list5">
                <li class="l-p-20 r-p-20 m-l-p-15 m-r-p-0">
                djh
                </li>
                <li class="l-p-20 r-p-20 m-l-p-0 m-r-p-15 m-p-t-0">
                djd
                </li>
                <li class="l-p-20 r-p-20 m-l-p-15 m-r-p-0 m-p-t-30 p-t-40">
                dnj
                </li>
                <li class="l-p-20 r-p-20 m-l-p-0 m-r-p-15 m-p-t-30 p-t-40">
                ank
                </li>
                <li class="l-p-20 r-p-20 m-l-p-15 m-r-p-0 m-p-t-30 m-p-b-20 p-t-40 d-flex">
                dkd
                </li>
            </ul>
        </div>
    </div>
</div>